 /* Manually tweaking each piece's margin to how you want so 
 it isn't affected by any influences, like by a browser is a preference Vish has to give him complete control.*/
   
   
   @font-face {
    font-family: "atraxgoth";
    src:url(/Fonts/AntraxjaGoth1938-3WO8.ttf);
    }

* {
    color: #101824;
    box-sizing: border-box;
}

    .topbar {
    position: sticky;
    }

/* tweak below as needed, this is unedited. */
    .topbar a{
    font-family: 'Amatic SC';
    display: flex;
    justify-content: flex-start;
    color: #d4adcf;
    padding: 14px 16px;
    padding-left: 50px;
    text-decoration: none;
    font-size: 1.8rem;
    }

    .backgroundimage {
    background-image: url("/Images/graveyardcookie.jpg");
}