
    @font-face {
    font-family: "atraxgoth";
    src:url(/Fonts/AntraxjaGoth1938-3WO8.ttf);
    }

* {
    color: #d4adcf;
    box-sizing: border-box;
    /* margin: 0;
     padding: 0; Manually tweaking each piece's margin to how you want so it isn't affected by any influences, like by a browser is a preference Vish has to give him complete control.*/
}

body {
    background-color: #101824;
}

.max {
    max-width: 1200px;
    margin: 0 auto;
    /* Adding pictures to the sides to act as like a decorative banner and making it an exception to this rule could get a little complicated 
    according to Vish. Will think on this. */
}


header {
    display: grid;
}

.topbar {
    display: flex;
    justify-content: center;
    /* padding-left: 1rem; */
}


#order {
    color: #fe9c02;
}

.topbar a{
    font-family: 'Amatic SC';
    display: block;
    color: #d4adcf;
    padding: 14px 16px;
    padding-left: 45px;
    text-decoration: none;
    font-size: 1.8rem;
}

.searchone input {
    background-color: aliceblue;
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    border: none;
    font-size: 17px;
}

.beginning {
    background-image: linear-gradient(135deg, rgba(103, 148, 179, .1), rgba(103, 148, 179, .2), rgba(103, 148, 179, .1)),
    url("/Images/cake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
    background-position: 40% center;
    /* Vish says put linear gradient first over picture if you want a picture with one or else the image will just sit on top of it. */
}

h1 {
    font-family: 'Amatic SC';
    text-align: center;
    font-size: 6rem;
    padding-top: 3rem;
    text-shadow: 1.25px 1.25px 5px black;
}

h4 {
    font-family: 'Amatic SC';
    font-size: 3.2rem;
    text-align: center;
    text-shadow: 1.25px 1.25px 5px white;
    padding-bottom: 9rem;
} 

 * .socialmedia {
    color: #a55f91;
    font-family: 'Lato';
    font-size: .85rem;
    display: flex;
    /* margin-left: 1rem; */
    margin-right: 1rem;
    gap: 1rem; 
 }


    /* LOOK INTO GAPS. THEY HELP WITH GOOD SPACING. */

* .sectwo, * .secfour{
    padding-top: 4rem;
    background-color: #5e2c49;
    font-family: 'Amatic SC';
    text-shadow: 1px 1px black;
}

.sectwo {
    font-family: 'Lato';
    padding: 1rem 2rem;
    text-shadow: 1px 1px black;
}

h2 {
    font-size: 2.5rem;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Amatic SC';
}

.orderonlinenow {
    text-align: center;
    color: #fe9c02;

}

.desserts {
     font-family: 'Amatic SC';
     display: flex;
     justify-content: center;
     gap: 1rem; 
}

.dessertpictures img{
    height: 5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
}

/* 
.secfour {
    text-align: center;
} */

.phone {
    text-align: center;
    font-size: 7rem;
    color:#6794b3;
    margin: 0;
    padding: 0;
}

.hours {
    text-align: center;
    font-size: 1.5rem;
}

.numbers {
    text-align: center;
    color: #6794b3;
}

.numbersone {
    color: #6794b3;
}

/* Something was and probably still is adding margin and padding to the class .phone. Vish isn't sure what but making the margin and padding 0 seems to have helped. This was challenging. */


.cookieone {
    height: 10rem;
    width: 10rem;
}
/* 
.cateringsec img{ */

.cake {
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    height: 30rem;
    width: 60rem;
    z-index: -1;
}

.orderonline {
    position: absolute;
    font-size: 4rem;  
    display: flex;
    justify-content: center;
    color: #fe9c02;
    z-index: 1;
}

/* .cateringsec {
    position: relative;
    text-align: center;
} */


.testimony {
    color:#6794b3;
    font-size: 1.5rem;
    padding-top: 7rem;
    padding-left: 43%;
    padding-right: 43%;
}


.end span, h2, .customersay { 
    text-align: center;
    display: block;
}

.end {
    background-color: #5e2c49;
    background-image: linear-gradient(to bottom, rgba(,#d4adcf, #d4adcf, 0.1), (#d4adcf,#d4adcf, #d4adcf, 0.) 100%), url('/Images/cakeslice.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
}

.customersay {
    font-size: 3em;
}

.end span, h3 {
    font-family: 'Amatic SC';
}

.cakeslice {
    height: 40rem;
    width: 40rem;
    opacity: .2;
    z-index: -1;
}



.whitegirl {
    display: block;
    width: 23%;
    margin: 0 auto 1.5rem;
    border: solid 1px #d4adcf;
    border-radius: 50%;
}

.portrait {
    display: flex;
    justify-content: center;
    /* color: #a1e4f5;*/
    font-size: 1.5rem;
    color:#6fabd3
}

.end p, .veryend {
    font-family: 'Lato';
    text-shadow: 1px 1px black;
}

.veryend {
    font-size: .5rem;
}

/* Potentially use this for numbers: overflow-wrap: break-word */
  /* Border takes up space, outline doesn't. Outline is just on top of stuff, Vish encourages you to use it during layout. 
  Says it's like they're in the same space but different reality. Same syntax as a border too. */